.um-generaltable thead th {
    padding: 5px;
}

/*.um-generaltable tbody tr {
    overflow: hidden;
    white-space: nowrap;
}*/

.um-generaltable tbody td {
    padding: 5px;
}

.um-user__additional-info,
.um-user__main-info {
    /*padding: 8px;*/
}

.um-user__main-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-left: 1.1em;*/
    margin-bottom: 2px;
}

.um-user__additional-info {
    padding-top: 0;
}

.um-user__fullname {
    display: flex;
    flex-grow: 1;
    align-items: center;
    /*justify-content: space-between;*/
    margin-right: 0.8em;
    margin-left: 0.4em;
}

/* TODO: Заменить нижнее подчёркивание на что-то другое или убрать */

.um-user__fullname a {
    text-decoration: underline;
    border: 1px none transparent;
    border-bottom-style: solid;
    /*border-radius: 0.25em;*/
    /*padding: 0.5em;*/
    padding-bottom: 0.1em;
    transition: border 0.25s linear;
    font-weight: bold;
    color: #035d96;
    font-size: 14px;
}

.um-user__fullname a:focus,
.um-user__fullname a:hover {
    border-color: inherit;
}

.um-user__lastaccess,
.um-user__lastcolumn {
    margin-right: 0.6em;
}

/* Bootstrap tabel. Styles redefined */
.um-table {
    margin-bottom: 0;
}

.um-table .um-table__body .um-table__cell,
.um-table .um-table__head .um-table__header-cell {
    padding: 2px 0;
    font-size: 13px;
}

.um-table .um-table__head .um-table__header-cell  {
    color: #035d96;
}

.um-table .um-table__body .um-table__row:nth-of-type(odd),
.um-table .um-table__head .um-table__row:nth-of-type(odd){
    background-color: #fff;
}

.um-table .um-table__head .um-table__header-cell  {
    border-top: none;
    border-bottom-width: 1px;
}

/* Bootstrap tabs. Styles redefined */
.um-tab-pane {
    position: relative;
    border: 1px solid #dee2e6;
    background-color: #fff;
    padding: 10px;
    z-index: 1;
}

.um-nav-tabs {
    border-bottom: none;
}

.um-nav-tabs .um-nav-link {
    position: relative;
    padding: 0 4px;
    color: #035d96;
    font-size: 13px;
    line-height: 20px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    transition: color 0.25s linear;
    cursor: default;
    z-index: 2;
}

.um-nav-tabs .um-nav-link:hover,
.um-nav-tabs .um-nav-link:focus {
    border: 1px solid transparent;
    color: #0a94ee;
}

.um-nav-tabs .um-nav-link.active:hover,
.um-nav-tabs .um-nav-link.active:focus {
    border-color: #dee2e6 #dee2e6 #fff;
    color: #495057;
}

.um-tab-close {
    position: absolute;
    right: 10px;
    top: 4px;
}

.um-tab-close img {
    width: 10px;
}

/* Bootstrap badges. Styles redefined */
.um-badge {
    display: inline-block;
    padding: .4em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.um-badge-pill {
    padding: .4em .8em;
    border-radius: 10rem;
}

.um-badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.um-badge-primary {
    color: #fff;
    background-color: #035d96;
}

.um-badge-danger {
    color: #fff;
    background-color: #dc3545;
}
